*{
    font-family: 'Exo 2', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  left: -9999px;
  top: -9999px; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
  background: #f8fafb; 
}

a:hover {
  color: inherit;
  text-decoration: none; 
}

.btn {
  height: 46px;
  font-size: 1rem;
  border-radius: 6px; 
}
  

.btn__plans:hover {
    background: #fff;
    border-color: inherit;
    color: #f9a825; }

.btn--mobile {
    display: none;
    background: #fff;
    font-weight: bold;
    height: 46px; 
}

@media screen and (max-width: 980px) {
  .btn--mobile {
    display: block;
    margin-top: 20px; 
    } 
}

.btn__outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px 25px;
    width: 180px; 
}
@media screen and (max-width: 240px) {
  .btn__outline {
    margin: 10px;
    font-size: 12px !important; 
    } 
}
.btn__outline:hover {
  background: #fff;
  color: #0093dd; }
.btn__outline--dark {
  color: #413939;
  border-color: inherit;
  background: #fff; }
  .btn__outline--dark:hover {
    background: linear-gradient(to top, #0093dd, #3dbdff);
    color: #fff;
    border-color: inherit; }
@media screen and (max-width: 640px) {
  .btn__outline {
    height: 36px;
    font-size: 14px;
    padding-top: 0;
    padding: 5px 10px; } }

@media screen and (max-width: 640px) {
  .col-auto {
    padding-top: 20px; } }

@media screen and (max-width: 980px) {
  .no-pad--mobile {
    padding: 0 !important; } }

.row--column {
  display: flex; }
  @media screen and (max-width: 980px) {
    .row--column {
      flex-direction: column; } }
  @media screen and (min-width: 1120px) {
    .row--column {
      flex-direction: row; } }

@media (min-width: 640px) and (max-width: 980px) {
  .col-auto {
    margin-bottom: 20px !important; } }


.header__section {
  background: #4c4c4c;
  color: #fff;
}

.header__section--sm {
    background-image: url(../images/banner-img.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.header__section--sm .hero, .header__section--hosting .hero, .header__section--domain .hero {
    margin-top: 50px;
    padding-bottom: 100px; 
}
@media screen and (min-width: 640px) {
    .header__section--sm .hero, .header__section--hosting .hero, .header__section--domain .hero {
        margin-top: 0; } }
@media screen and (max-width: 640px) {
    .header__section--sm .hero, .header__section--hosting .hero, .header__section--domain .hero {
      margin-top: 0; } }
.header__section--sm .hero__text, .header__section--hosting .hero__text, .header__section--domain .hero__text {
    padding-bottom: 20px; }


.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo img{
    width: 50px;
}
  @media screen and (max-width: 980px) {
    .nav__logo {
      padding-bottom: 20px; } }
  @media screen and (max-width: 640px) {
    .nav__logo {
      padding: 0 15px 20px; } }
  .nav__logo img {
    transition: all ease-in-out .3s;
    height: 40px; }
    @media screen and (max-width: 640px) {
      .nav__logo img {
        height: 40px; } }

.nav__mobile {
  position: relative; }
  .nav__mobile__dropdown {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    padding: 0;
    padding-top: 10px;
    display: none;
    transition: all 0.5s; }
    .nav__mobile__dropdown li {
      padding: 10px 0; }
    .nav__mobile__dropdown.show {
      display: block; }
  .nav__mobile__trigger {
    display: none;
    position: absolute;
    right: 15px;
    top: -42px;
    z-index: 5; }
    @media screen and (max-width: 980px) {
      .nav__mobile__trigger {
        display: block; } }
    .nav__mobile__trigger span {
      background-color: white;
      display: block;
      right: 0;
      height: 2px;
      margin-bottom: 0.32em;
      position: relative;
      top: 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 1.6em;
      color: white; }
      .nav__mobile__trigger span:last-child {
        width: 1em;
        transform: translateX(0.6em); }
  .nav__mobile .dropdown {
    display: none;
    height: 0;
    transition: all ease-in-out 3s;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0; }
    .nav__mobile .dropdown--blue {
      background: #4c4c4c; }
      @media (min-width: 640px) and (max-width: 980px) {
        .nav__mobile .dropdown--blue {
          background: transparent; } }
    @media screen and (max-width: 980px) {
      .nav__mobile .dropdown.show {
        z-index: 50;
        display: block;
        height: 100%;
        transition: all ease-in-out 2s; } }
  .nav__mobile .nav__item {
    position: relative; }

.nav__sub-menu {
  padding: 20px 30px 10px;
  background: #f9f8f8; }
  .nav__sub-menu__item {
    padding: 10px 5px; }
    .nav__sub-menu__item:hover {
      color: #0093dd; }

.nav__item {
  font-weight: 600;
  border-bottom: 1px solid transparent;
  padding: 20px 15px;
  transition: all ease-in-out .3s; 
}

.nav-buy-tick{
    background-color: #00adb5;
    font-weight: bolder;
}
  @media screen and (max-width: 980px) {
    .nav__item {
      padding: 20px 15px; } }
  .nav__item a {
    transition: all 0.3s;
    position: relative; }
    .nav__item a:hover {
      text-decoration: none;
      color: inherit; }
  @media screen and (max-width: 640px) {
    .nav__item {
      padding: 15px;
      padding-left: 30px !important; } }
  .nav__item:nth-child(1) .nav__item__dropdown {
    left: -200px; }
  .nav__item:nth-child(2) .nav__item__dropdown {
    left: -100px; }
  .nav__item:nth-child(5) .nav__item__dropdown {
    right: -80px;
    left: auto; }
  .nav__item:last-child:hover .nav__item__dropdown {
    right: 0 !important;
    left: auto; }
  .nav__item:hover {
    border-color: #fff; }
    .nav__item:hover > .nav__item__wrap {
      display: block; }
    @media screen and (max-width: 980px) {
      .nav__item:hover {
        border-color: transparent; } }
  .nav__item__sub-title {
    color: #0093dd;
    font-weight: bold; }
  .nav__item__desc {
    max-width: 286px;
    padding: 30px; }
  .nav__item__wrap {
    display: none;
    z-index: 5;
    width: 100%; }
  .nav__item__dropdown {
    z-index: 5;
    position: absolute;
    background: #fff;
    padding-bottom: 8px;
    color: #413939;
    display: grid;
    grid-template-columns: 4fr 3fr;
    font-weight: normal;
    top: 100%;
    left: 0;
    font-size: 14px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1); }
  .nav__item.active {
    color: #0093dd;
    position: relative; }
    .nav__item.active::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: -2px;
      background: #0093dd;
      left: 0; }

.nav__sub {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #000;
}



  @media screen and (max-width: 1089px) {
    .nav__sub {
      display: none;}
    .nav__sub__wrapper {
    display: none;}
}



  .nav__sub__popup {
    opacity: 0;
    z-index: 20;
    position: absolute;
    left: -20px;
    background: #fff;
    color: #4c4c4c;
    min-width: 120px;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1); }
  .nav__sub--blue {
    background: #4c4c4c; }
  .nav__sub__wrapper {
    background: #fff; }
  .nav__sub__link {
    position: relative;
    padding: 10px 20px;
    padding-left: 0; }
    .nav__sub__link.trigger {
      position: relative; }
      .nav__sub__link.trigger:before {
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        left: 35px;
        top: 18px;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent; }
      .nav__sub__link.trigger:hover .nav__sub__popup {
        opacity: 1; }

.nav__main {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 980px) {
    .nav__main {
      padding-top: 30px;
      flex-direction: column; } }
  .nav__main__wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.nav__desktop {
  padding: 0 10px; }
  @media screen and (max-width: 980px) {
    .nav__desktop {
      display: none; } }

.nav__menu {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0;
  position: relative; }
  .nav__menu--right {
    text-transform: capitalize; }
    .nav__menu--right .nav__sub__link {
      padding: 10px 20px; }
      .nav__menu--right .nav__sub__link--blue:hover {
        background: #4c4c4c; }

.hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px; }

.hero__primary--sm {
  padding-top: 10px;
  font-size: 3.3em;
  margin-bottom: 30px;}
.hero__primary--sm span{
    font-size: 0.6em;
    font-style: italic;
}

.hero__secondary{
    font-size: 1.5em;
    margin-bottom: 15px;
}

.hero__text hr{
    background-color: #f8b500;
    width: 50px;
    height: 2px;
    margin-top: 0;
    margin-bottom: 15px;
}

  @media screen and (max-width: 980px) {
    .hero__primary--sm {
      font-size: 2.5em; } }; } }
  
    @media screen and (max-width: 980px) {
      .hero__secondary {
        font-size: 1.5em; } }

.fixed-nav .nav__main__wrapper {
  position: fixed;
  top: 0;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 5;
  background: #4c4c4c; }
  @media screen and (max-width: 980px) {
    .fixed-nav .nav__main__wrapper {
      background: #4c4c4c; } }

.fixed-nav .nav__item--sm {
  padding: 10px 15px !important; }

.fixed-nav .nav__logo img {
  height: 30px;
  width: auto; }



.section-2{
    padding-top: 50px;
    padding-bottom: 160px;
    background-color: #fff;
}

/*
clip-path: polygon(
		0% 100%,
		0% calc(100% - 4vw),
		550% 0,
		0 0,
		0 calc(100% - 3vw)
	);
*/


.sec2-container{
    padding: 50px;
    box-shadow: 0 3px 6px 2px rgba(170, 176, 179, 0.31);
}

.sec2-head-tag{
    text-align: center;
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.sec2-detail-tag{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 35px;
}

.section-2 .col-md-4{
    margin-bottom: 15px;
}

.sec2-col-head{
    margin-bottom: 0;
}

.section-2 .col-md-4 hr{
    background-color: #f8b500;
    height: 2px;
    width: 45px;
    margin: 5px 0 10px 0px;
}

.section-2 i{
    font-size: 3em;
    color: #8c8c8c;
    margin-bottom: 10px;
}


.section-3{
    padding: 80px 60px;
    padding-bottom: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #00adb5;
    color: #fdfdfd;
    clip-path: polygon(
		0% 100%,
		0% calc(100% - 0vw),
		550% 0,
		0 0,
		0 calc(100% - 3vw)
	);
}

.section-3 .col-md-3{
    border-right: 1px solid #f8b500;
}

.section-3 .col-md-3-end{
    border: none;
}

@media screen and (max-width: 780px) {
    .section-3{
        padding-bottom: 100px;
        clip-path: polygon(
		0% 100%,
		0% calc(100% - -15vw),
		550% 0,
		0 0,
		0 calc(100% - 0vw)
	);
    }
    
    .section-3 .col-md-3{
        border: none;
        margin-bottom: 35px;
    }
    .section-3 .col-md-3-end{
        border: none;
    }
}

.section-3 .row i{
    font-size: 2.5em;
    margin-bottom: 15px;
}

.sec3-col-head{
    font-weight: bold;
    margin-bottom: 0px;
}

.section-3 .col-md-3 hr{
    background-color: #f8b500;
    height: 2px;
    width: 45px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.sec3-col-det{
    margin-bottom: 0;
}

.chief-host{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #f8b500;
}

.host-name{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.host-title{
    margin-bottom: 0;
}



.section-4{
    padding: 50px 60px;
}

.section-4 h2{
    text-align: center;
}

.learn-why-to{
    text-align: center;
    margin-bottom: 50px;
}

.section-4 .sec-4-col img{
    width: 50px;
}

.section-4 .sec4-col-head{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.section-4 .col-md-6 hr{
    background-color: #f8b500;
    height: 2px;
    width: 45px;
    margin: 5px 0 12px 0px;
}

.section-4 .sec4-col-det{
    margin-bottom: 30px;
    padding-right: 100px;
}



.section-5{
    background-color: #fff;
}

.section {
  padding: 70px 0; }
  @media screen and (max-width: 640px) {
    .section {
      padding: 40px 0; } }
  .section__title {
    text-transform: capitalize;
    font-size: 2em;
    }


a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  font-size: 1rem;
  border-radius: 6px; }
  a.btn__outline {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    color: #000;
    margin: 0; }


.plans-tab-section{
    margin: 0;
    margin-top: -20px;
    margin-left: 100px;
    padding: 0;
    width: 80%;
    background: transparent;
}

.plans__desc {
  color: #aab0b3; }

.plans__card {
  background: #fefdfd;
  margin: 5px;
  border-radius: 6px;
  padding: 38px 27px;
  font-size: 1rem;
  border-top: 5px solid transparent; }
  @media screen and (max-width: 240px) {
    .plans__card {
      padding: 20px 10px; } }
  .plans__card:hover, .plans__card.active {
    border-top: 5px solid #f8b500;
    box-shadow: 0 3px 16px 0 rgba(170, 176, 179, 0.31);
    background: #fff; }

  .plans__card.active{
      background-color: #fff;
  }

  .plans__card.active a.btn__outline{
      color: #f8b500;
  }

  .plans__card.active a.btn__outline:hover{
      color: #fff;
      background-color: #f8b500;
      border: 1px solid #f8b500;
  }

  .plans__card.first {
    border-top: 5px solid #00adb5;
    box-shadow: 0 3px 16px 0 rgba(170, 176, 179, 0.05);
  }

  .plans__card.first a.btn__outline{
      color: #00adb5;
  }

  .plans__card.first a.btn__outline:hover{
      color: #fff;
      background-color: #00adb5;
      border: 1px solid #00adb5;
  }

  .plans__card__label {
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 10px; }
    .plans__card__label.teal {
      color: #00adb5; }
    .plans__card__label.lilac {
      color: #f8b500;
      font-weight: bold;
    }
    .plans__card__label.navy {
      color: #00adb5; }
  .plans__card__duration {
    text-transform: capitalize; }
  .plans__card__price {
    font-weight: bold; }
  .plans__card__wrap {
    padding-top: 50px;
    display: grid;
    max-width: 98%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr); }

.plans__card__head {
    padding-bottom: 20px; 
}
.plans__card__body {
    padding-left: 0;
    font-size: 1rem;
    line-height: 2;
    padding-top: 20px;
    color: #aab0b3; 
}

@media screen and (max-width: 324px) {
  .plans__card__wrap {
        grid-template-columns: 1fr;
        margin-left: -5em;
  }
}

@media (min-width: 325px) and (max-width: 370px) {
  .plans__card__wrap {
        grid-template-columns: 1fr;
        margin-left: -4em;
  }
}

@media (min-width: 371px) and (max-width: 455px) {
  .plans__card__wrap {
        grid-template-columns: 1fr;
        margin-left: -3.5em;
  }
}

@media (min-width: 456px) and (max-width: 779px) {
  .plans__card__wrap {
        grid-template-columns: 1fr;
        margin-left: -2.5em;
  }
}

@media (min-width: 780px) and (max-width: 1100px) {
    .plans__card__wrap {
        grid-template-columns: repeat(3, 1fr);
        margin-left: -8em;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {

    .plans__card__wrap {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0em;
        max-width: 94%;
    }
}

@media (min-width: 1101px) and (max-width: 1200px) {

    .plans__card__wrap {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0em;
        max-width: 95%;
    }
}

@media (min-width: 1201px) and (max-width: 1300px) {

    .plans__card__wrap {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 1.8em;
        max-width: 95%;
    }

    .plans__card__wrap__not{
        grid-template-columns: repeat(3, 1fr);
    }

    .plans__card {
        background: #fefdfd;
        margin: 5px;
        border-radius: 6px;
        padding: 38px 15px;
        font-size: 1rem;
        border-top: 5px solid transparent; 
    }

    .plans__card__body {
        padding-left: 0;
        font-size: 1rem;
        line-height: 2;
        padding-top: 20px;
        margin: 0;
        color: #aab0b3; 
    }
}


.spon-parti{
    padding: 60px 70px;
    margin: 0;
}

.spon-parti .spon, .spon-parti .parti{
    font-size: 1.2em;
    font-weight: bold;
}

.spon-parti p{
    font-size: 1em;
}

.spon-end{
    border-right-style: double;
    border-color: #f8b500;
    margin-bottom: 20px;
}


@media screen and (max-width: 989px) {
    .spon-parti .row{
        display: inline-block;
    }
    .spon-end{
        border: none;
        margin-bottom: 30px;
    }
    .parti-end{
        display: flex;
    }
    .parti-end p{
        margin-right: 30px;
    }
}

@media screen and (max-width: 847px) {
    .parti-end{
        display: block;
        width: 700px;
    }
}

@media screen and (max-width: 760px) {
    .parti-end{
        width: 100%;
    }
}



footer {
  background: #4c4c4c;
  color: #fff; }
  @media (min-width: 640px) and (max-width: 980px) {
    footer .container {
      max-width: none; } }

.footer__main {
  padding-top: 40px;
  padding-bottom: 40px; }
@media screen and (max-width: 980px) {
    .footer__main .col-md-4{
        margin-bottom: 15px;
    }
}

.footer__main img{
    width: 100px;
}

.footer__sub-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.footer__links {
  margin: 0;
  padding: 0; }
  .footer__links__row {
    display: flex;
    justify-content: space-between; }
    
  .footer__links__item {
    font-size: 14px;
    line-height: 28px;
    padding-right: 10px; }
    .footer__links__item:hover {
      color: #0093dd; }

.footer__meta {
  padding: 10px 0;
  border-top: 1px solid #eee; }
  .footer__meta__row {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 640px) {
      .footer__meta__row {
        text-align: center;
        font-size: 14px; } }
    @media screen and (max-width: 980px) {
      .footer__meta__row {
        display: inline-block;
        justify-content: space-between;
      }
      .footer__links__row {
        margin-top: 10px; } 
    }
  .footer__meta p {
    margin: 0; }